* {
   box-sizing: border-box;
}

h1 {
  margin-bottom: 0px;
}

h3 {
  margin-top: 0px;
  font-style: italic;

}


h4 {
  font-size: 18px;
  margin-bottom: 0;
}


.top-link {
  color: #BF5700;
}

.byline {
  font-size: 12px;
  color: #808080;
  text-transform: uppercase;
}

.byline, .paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
}

.top-story {
  background-color: #D3D3D3;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto 10px auto 10px;
}

.headline-1 {
  font-size: 22px;
  margin-top: 0px;
}

.byline-1 {
  font-size: 14px;
}

.more {
  margin-top: 5px;
  border-bottom: solid 2px black;
  margin-bottom: 5px;
}

ul {
  margin-top: 5px;
}

.container {
  background-color: white;
}

@media(min-width: 600px) {

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20 15 20 15;
  background-color: white;
  overflow: auto;
}


.left-column {
  width: 70%;
  float: left;
  padding-right: 20px;
}

.right-column {
  width: 30%;
  float: right;
padding-left: 20px;
}


}

body {
  background-color: #A9A9A9;
}
